.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.layout-content {
  display: flex;
  flex-grow: 1;
  margin-top: 70px; /* Adjusted for the header */
  margin-bottom: 50px; /* Adjusted for the footer */
}

.content {
  margin-left: 150px; /* Adjust this to match the side menu width */
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto; /* Allows scrolling if content is too large */
}

