/* ./src/pages/solidChemicalInventoryPage.css */
.solid-inventory-page {
    padding: 10px 20px;
    transition: margin-left 0.3s ease;
  }
  
  .page-title {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .page-divider {
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    border-top: 2px solid #ddd;
    margin-left: 20px;
    width: calc(100% - 40px);
  }
  
  .button-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .inventory-table {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 10px;
    border-collapse: collapse;
    transition: margin-left 0.3s ease;
  }
  
  .solid-inventory-page.collapsed .inventory-table {
    width: calc(100% - 60px);
  }
  
  .inventory-table th,
  .inventory-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .inventory-table th {
    background-color: #f4f4f4;
  }
  
  .meatball-menu-container {
    position: relative;
  }
  
  .meatball-menu {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .meatball-menu-options {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 150px;
  }
  
  .menu-option {
    display: block;
    width: 100%;
    background-color: #f4f4f4;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: left;
  }
  
  .menu-option:hover {
    background-color: #ddd;
  }
  
  .inventory-form,
  .update-quantity-form,
  .update-details-form {
    display: flex;
    flex-direction: column;
  }
  
  .inventory-form label,
  .update-quantity-form label,
  .update-details-form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .inventory-form input,
  .inventory-form select,
  .update-quantity-form input,
  .update-details-form input,
  .update-details-form select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .form-actions button {
    padding: 10px 20px;
    background-color: #f4f4f4;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-actions button:hover {
    background-color: #ddd;
  }
  
  .form-actions button + button {
    margin-left: 10px;
  }

.inventory-table input[type='checkbox'] {
  transform: scale(1.2);
}
  