/* ./src/components/Layout.css */

.layout {
    display: flex;
  }
  
  .content {
    margin-left: 220px; /* Adjust this if the side menu width changes */
    padding: 20px;
    flex-grow: 1;
  }
  