.hamburger-icon {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
  position: fixed;
  top: 75px; /* Adjust this to be below the header */
  left: 15px;
  z-index: 1001;  /* Ensure the icon stays above the side menu */
}

.menu-header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 50px;
}

.menu-text {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.side-menu {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed;
  top: 120px; /* Start below the header */
  bottom: 50px; /* End above the footer */
  left: 0;
  height: calc(100% - 170px); /* Full height minus header and footer */
  transition: transform 0.3s ease, width 0.3s ease; /* Added transition for width */
  z-index: 1000;
  overflow-y: auto; /* Allows scrolling if the content is too long */
}

.side-menu.collapsed {
  width: 60px; /* Adjust the width when collapsed */
}

.side-menu ul {
  list-style-type: none;
  padding: 60px 0 0 0; /* Adds padding to move the menu items down */
  margin: 0;
}

.side-menu ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.side-menu ul li a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.side-menu.collapsed .menu-text {
  display: none;
}

.logout-button {
  cursor: pointer;
  color: red;
}

.logout-button:hover {
  text-decoration: underline;
}

/* Hide text and center icons when the menu is collapsed */
@media screen and (max-width: 768px) {
  .side-menu.collapsed ul li a {
    text-align: center;
    padding: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .side-menu.collapsed ul li {
    margin-bottom: 15px;
  }
}
