.hamburger-icon {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
  position: relative;
  z-index: 1001;
}

.menu-header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 50px;
  position: relative; /* Ensure the header stays within the side menu section */
}

.menu-title {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Ensure the text is visible */
}

.side-menu {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed;
  top: 60px; /* Adjust this based on your main page header height */
  bottom: 50px; /* End above the footer */
  left: 0;
  height: calc(100% - 110px); /* Full height minus header and footer */
  transition: width 0.3s ease;
  overflow-y: auto;
}

.side-menu.collapsed {
  width: 60px;
}

.side-menu ul {
  list-style-type: none;
  padding: 20px 0 0 0;
  margin: 0;
}

.side-menu ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.menu-text {
  display: inline-block;
}

.side-menu.collapsed .menu-text {
  display: none;
}

.side-menu.collapsed .menu-item {
  justify-content: center;
}

.logout-button {
  cursor: pointer;
  color: red;
}

.logout-button:hover {
  text-decoration: underline;
}
