.footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  justify-content: space-between;
  width: 100%;
}

.footer-text {
  text-align: right;
  padding-right: 40px;
}
