/* ./src/pages/LandingPage.css */

.landing-page {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: calc(100vh - 120px); /* Adjust height based on header and footer */
  text-align: center;
}
