/* ./src/pages/LandingPage.css */

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  text-align: center;
  transition: margin-left 0.3s ease; 
  margin-left: 0;
}

.layout.collapsed .landing-page {
  margin-left: 110px;
}
